/*Homepage*/

.titlediv {
    color: rgba(167, 38, 38, 0.973);
    padding-top: 1%;
    text-align: center;
    font-size: 100px;
    font-family: Cookie, Arial, sans-serif;
}

.bundesländertitle {
    color: rgba(255, 255, 255, 0.781);
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

#blMenu {
    list-style: none;
}

.bundesländerliste a {
    color: rgba(255, 255, 255, 0.781);
    text-decoration: none;
    text-align: center;
}

.mainpagebackground {
    /*background-color: rgb(110, 172, 169);*/
    background-color: rgb(155, 240, 235);
}


/*Top navigation bar*/

.topmenue{
    z-index: 1;
}
.topmenuelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.281);
    ;
}

.topmenuelist li {
    float: left;
    border-right: 3px solid rgba(0, 0, 0, 0.11);
}

.topmenuelist li:last-child {
    border-right: none;
}

.topmenuelist a {
    display: block;
    color: white;
    font-family: Cookie;
    font-size: 30px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topmenuelist a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.11);
}

.navaktiv {
    background-color: rgba(187, 19, 19, 0.562);
}


/*------------------------Austria------------------------*/


/* WappenGrid */

.grid-container {
    display: grid;
    height: 660px;
    align-content: center;
    grid-template-columns: auto auto auto;
    padding: 0;
}

.grid-container div {
    text-align: center;
    height: 220px;
    width: 100%;
    font-size: 30px;
    transition: background-color 200ms;
}

.grid-container div h2{
    font-family: Cookie;
    font-size: 100%;
}

.wappen {
    display: block;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;

    height: auto;
}

.wappen-title {
    top: 0px;
    z-index: 10;
}

.grid-container div:hover {
    background-color: rgba(255, 255, 255, 0.295);
}


/*YT-Video*/
.float-vid {
    float: left;

    padding-left: 2.5%;
    padding-bottom: 2.5%;
    }




/* Top-Video */
.video-container{
    pointer-events:none;
}
.overlay-desc {
    position: absolute;
    display: flex;
    top: 0; right: 0; bottom: 0; left: 0;

    align-items: center;
    justify-content: center;
    z-index: 0;
  }

#topvideo{
   
    width: 100%;
    height: 300px;
    object-fit: cover;
}





/*------------------------Wien------------------------*/


/*------------------------Niederösterreich------------------------*/


/*------------------------Steiermark------------------------*/


/*------------------------Oberösterreich------------------------*/


/*------------------------Salzburg------------------------*/


/*------------------------Tirol------------------------*/


/*------------------------Kärnten------------------------*/


/*------------------------Vorarlberg------------------------*/


/*------------------------Burgenland------------------------*/


/*------------------------Burgenland------------------------*/